{% extends 'base.html.twig' %}

{% block title %}{% trans %}Log in!{% endtrans %}{% endblock %}

{% block body %}
    {% if error %}
        {{ error.messageKey|trans(error.messageData, 'security') }}<br>
    {% endif %}

    <a rel="noreferrer" href="https://learningcommons.xmu.edu.cn/auth/cas-volunteer"><img alt="{% trans %}Use XMU account to log in{% endtrans %}" src="https://inc.xmu.edu.cn/_upload/article/images/11/88/ff5c90c94acc9fb2bc390ba19b6f/17239162-73d2-496b-956e-084d780af563.png"></a>
{% endblock %}
