{% extends "base.html.twig" %}
{% block body %}
    {% trans %}Current appliable recruitments:{% endtrans %}<br>
    {% for recruitment in recruitments %}
        <a href="{{ path('recruitment_show', {'id': recruitment.id}) }}">{{ recruitment.name }}</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('recruitment_show_timetable', {'id': recruitment.id}) }}">{% trans %}Show timetable{% endtrans %}</a>
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}